<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.accessaryshopping">

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- network 상태를 미리 체크하여 연결 안된 경우 다이얼로그를 보여주려면 아래 permission 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- android test 돌릴 때 화면 lock 풀어야 로그인 touch 가능 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 문자 메세지 받는거 권한 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 인터넷 권한 주기 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 카메라 권한 주기 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 저장공간 권한 주기 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 오디오 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/jientlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 구글 비젼을 위한 meta data -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.user.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".LiveActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".GoodsListActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".signUp.SingUpMobileConfirm" />
        <activity
            android:name=".signUp.SingUpFinal"
            android:windowSoftInputMode="adjustResize" />

        <!-- 스트리밍 서비스를 위한 activity -->
        <activity android:name=".liveStreaming.kurentoandroid.main.MainActivity" />
        <activity
            android:name=".liveStreaming.kurentoandroid.broadcaster.BroadCasterActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".liveStreaming.kurentoandroid.one2one.One2OneActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveStreaming.kurentoandroid.main.MainActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveStreaming.kurentoandroid.viewer.ViewerActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".liveStreaming.RoomAddActivity" />
        <!-- <activity android:name=".ChacttingTest"></activity> -->
        <activity android:name=".goodsList.GoodsListAddActivity" />
        <activity android:name=".goodsList.GoodsListDetailActivity" />
        <activity android:name=".goodsList.GoodsPaymentActivity" />
        <activity android:name=".goodsList.DaumWebViewActivity" />
        <activity
            android:name=".facefilter.FaceFilterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".token.TokenActivity"></activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>